aws-cdk-lib==2.20.0
aws-cdk.aws-iot-alpha==2.20.0a0
aws-cdk.aws-iot-actions-alpha==2.20.0a0
aws-cdk.aws-iot-alpha==2.20.0a0
aws-cdk.aws-kinesisfirehose-alpha==2.20.0a0
aws-cdk.aws-kinesisfirehose-destinations-alpha==2.20.0a0
constructs==10.1.0
